<h1>Login Below!</h1>

<%= form_for :user do |f| %>
<p><%= f.label :email %></p>
<%= f.email_field :email %>

<p><%= f.label :password %></p>
<%= f.password_field :password %><br>
<%= f.submit "log in"%>

<% end %>
