<h1 class="color">Login Below!</h1>

<%= form_for :user do |f| %>
<p class="color"><%= f.label :email %></p>
<%= f.email_field :email %>

<p class="color"><%= f.label :password %></p>
<%= f.password_field :password %><br>
<%= f.submit "log in"%>

<% end %>
