<style>
.ticket {
  border-radius: 4px;
  display: inline-block;
  max-width: 320px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.ticket.dark {
  background-color: #161616;
  color: white;
}
.ticket.light {
  background-color: white;
  color: #161616;
  margin-bottom: 10px;
}
.ticket.light .ticket-body {
  border-color: #161616;
}
.ticket-head {
  background-position: center;
  background-size: cover;
  border-radius: 4px 4px 0 0;
  color: white;
  height: 140px;
  position: relative;
}
.ticket-head .from-to {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  z-index: 2;
}
.ticket-head .icon {
  display: inline-block;
  margin: 0 40px;
  -webkit-transform: rotate(135deg) translate(25%, 25%);
          transform: rotate(135deg) translate(25%, 25%);
}
.ticket-body {
  border-bottom: 1px dashed white;
  padding: 15px 35px;
  position: relative;
}
.ticket-body p {
  color: #A2A2A2;
  font-size: 12px;
}
.ticket-body .flight-info {
  margin-top: 15px;
}
.ticket-body .flight-date {
  font-size: 12px;
  margin-top: 15px;
}
.barcode {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 1px 0 0 1px,
		 5px 0 0 1px,
		 10px 0 0 1px,
		 11px 0 0 1px,
		 15px 0 0 1px,
		 18px 0 0 1px,
		 22px 0 0 1px,
		 23px 0 0 1px,
		 26px 0 0 1px,
		 30px 0 0 1px,
		 35px 0 0 1px,
		 37px 0 0 1px,
		 41px 0 0 1px,
		 44px 0 0 1px,
		 47px 0 0 1px,
		 51px 0 0 1px,
		 56px 0 0 1px,
		 59px 0 0 1px,
		 64px 0 0 1px,
		 68px 0 0 1px,
		 72px 0 0 1px,
		 74px 0 0 1px,
		 77px 0 0 1px,
		 81px 0 0 1px,
		 85px 0 0 1px,
		 88px 0 0 1px,
		 92px 0 0 1px,
		 95px 0 0 1px,
		 96px 0 0 1px,
		 97px 0 0 1px,
		 101px 0 0 1px,
		 105px 0 0 1px,
		 109px 0 0 1px,
		 110px 0 0 1px,
		 113px 0 0 1px,
		 116px 0 0 1px,
		 120px 0 0 1px,
		 123px 0 0 1px,
		 127px 0 0 1px,
		 130px 0 0 1px,
		 131px 0 0 1px,
		 134px 0 0 1px,
		 135px 0 0 1px,
		 138px 0 0 1px,
		 141px 0 0 1px,
		 144px 0 0 1px,
		 147px 0 0 1px,
		 148px 0 0 1px,
		 151px 0 0 1px,
		 155px 0 0 1px,
		 158px 0 0 1px,
		 162px 0 0 1px,
		 165px 0 0 1px,
		 168px 0 0 1px,
		 173px 0 0 1px,
		 176px 0 0 1px,
		 177px 0 0 1px,
		 180px 0 0 1px;
  display: inline-block;
  height: 30px;
  margin-right: 85px;
  margin-top: 25px;
  -webkit-transform: translateX(-90px);
          transform: translateX(-90px);
  width: 0;
}
.disclaimer {
  color: #A2A2A2;
  font-family: "IM Fell French Canon";
  font-size: 14px;
  font-style: italic;
  line-height: 1.25;
  padding: 15px 25px;
  text-transform: none;
}
.layer {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px 4px 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
</style>

<h2 class="color" align="center">Your Wishlist</h2> <br><br>
<div class="container">
<% current_user.save_user_trips.each do |flight| %>

<div class="col-sm-6 col-sm-push-1 text-center">
   <div class="ticket light">
     <div class="ticket-head text-center" style="background-image: url('/assets/<%=flight.image_url%>')">
       <div class="layer"></div>
       <div class="from-to"><%= flight["origin"] %> <span class="icon icon-airplane"></span> <%= flight["destination"] %></div>
     </div>
     <div class="ticket-body">
       <div class="passenger">
         <p>passenger</p>
         <h4><%= current_user.name %></h4>
       </div>
       <div class="flight-info row">
         <div class="col-xs-6">
           <p>Departure Time</p>
           <h4><%= flights_date(flight["departure_time_when_leaving_home"])%></h4>
         </div>
         <div class="col-xs-6">
           <p>Arrival Time</p>
           <h4><%= flights_date(flight["arrival_time_when_leaving_home"]) %></h4>
         </div>
       </div>

       <div class="flight-info row">
         <div class="col-xs-6">
           <p>Flight Origin</p>
           <h4><%= flight["origin"] %></h4>
         </div>
         <div class="col-xs-6">
           <p>Flight Arrival</p>
           <h4><%= flight["destination"] %></h4>
         </div>
       </div>

       <!-- <div class="flight-date">jun-28-2017 at 08:30am</div> -->
       <div class="barcode"></div>
     </div>
     <!-- <div class="footer">
       <div class="disclaimer">Disclaimer: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis doloremque in inventore eum</div>
     </div> -->
   </div>
 </div>

 <div class="col-sm-4 text-center">
    <div class="ticket light">
      <div class="ticket-head text-center" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_15.png)">
        <div class="layer"></div>
        <div class="from-to"> <%= flight["destination"] %><span class="icon icon-airplane"></span><%= flight["origin"] %> </div>
      </div>
      <div class="ticket-body">
        <div class="passenger">
          <p>passenger</p>
          <h4><%= current_user.name %></h4>
        </div>
        <div class="flight-info row">
          <div class="col-xs-6">
            <p>Departure Time</p>
            <h4><%= flights_date(flight["departure_time_when_coming_home"])%></h4>
          </div>
          <div class="col-xs-6">
            <p>Arrival Time</p>
            <h4><%= flights_date(flight["arrival_time_when_coming_home"]) %></h4>
          </div>
        </div>

        <div class="flight-info row">
          <div class="col-xs-6">
            <p>Flight Origin</p>
            <h4><%= flight["destination"] %></h4>
          </div>
          <div class="col-xs-6">
            <p>Flight Arrival</p>
            <h4><%= flight["origin"] %></h4>
          </div>
        </div>

        <!-- <div class="flight-date">jun-28-2017 at 08:30am</div> -->
        <div class="barcode"></div>
      </div>
      <!-- <div class="footer">
        <div class="disclaimer">Disclaimer: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis doloremque in inventore eum</div>
      </div> -->
    </div>
  </div>

<% end %>
</div>

<!-- <div align="center" class="contain">
<span class="color">Here are trips</span>
<% current_user.save_user_trips.each do |flight| %>
  <p class="color mb-1">Ticket price: <%= flight["saleTotal"] %></p>
  <p class="color mb-1"><%= flights_date(flight["departure_time_when_leaving_home"])%> ----- <%= flights_date(flight["arrival_time_when_leaving_home"]) %></p>
  <p class="color mb-1"><%= flight["origin"] %> ----------------------------- <%= flight["destination"] %></p>
  <p class="color mb-1"><%= flights_date(flight["departure_time_when_coming_home"])%> ----- <%= flights_date(flight["arrival_time_when_coming_home"]) %></p>
  <p class="color mb-1"><%= flight["destination"] %> -----------------------------<%= flight["origin"] %></p><br>
<% end %>
</div> -->
