<body>
<%= form_for :trip do |f| %>
  <p>
    <span class="color"><%= f.label :budget %></span><br>
    <%= f.text_field :budget %>
  </p>

  <p>
    <span class="color"><%= f.label :origin %></span><br>
    <%= f.text_field :origin %>
  </p>

  <p>
   <span class="color"><%= f.label :date %></span><br>
    <%= f.date_field :date %>
  </p>

  <p>
   <span class="color"><%= f.label :passengers %></span><br>
    <%= f.number_field :passengers %>
  </p>

  <p>
    <span class="color"><%= f.submit %></span>
  </p>
  <% end %>
</body>
