
<h4 class="mb-1">List of flights</h4>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script>
window.onload = function () {
    var markers = <%=raw @hash.to_json %>;
    var mapOptions = {
        center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
        zoom: 3,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var infoWindow = new google.maps.InfoWindow();
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    for (i = 0; i < markers.length; i++) {
        var data = markers[i]
        var myLatlng = new google.maps.LatLng(data.lat, data.lng);
        marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: data.title
        });
        (function (marker, data) {
            google.maps.event.addListener(marker, "click", function (e) {
                infoWindow.setContent(data.description);
                infoWindow.open(map, marker);

            });
        })(marker, data);
    }
}
</script>
<%= @airports.to_json %>
<style>
#map {
        height: 100%;
      }
</style>



<h4 class="mb-1">List of flights</h4>


<% @cheapest_flights.each_with_index do |city, city_index| %>


    <div class="list-group">
        <div class="d-flex w-100 justify-content-between">

          <h5 class="mb-1">Flights to <%=convert_airportcode_to_destination(city[0]["destination"])%></h5>
           <% city.each_with_index do |flight, index| %>
              <p class="mb-1">Ticket price: <%= flight["saleTotal"] %></p>
              <p class="mb-1"><%= flights_date(flight["departure_time_when_leaving_home"])%> ----- <%= flights_date(flight["arrival_time_when_leaving_home"]) %></p>
              <p class="mb-1"><%= flight["origin"] %> ----------------------------- <%= flight["destination"] %></p>
              <p class="mb-1"><%= flights_date(flight["departure_time_when_coming_home"])%> ----- <%= flights_date(flight["arrival_time_when_coming_home"]) %></p>
              <p class="mb-1"><%= flight["destination"] %> -----------------------------<%= flight["origin"] %></p>
              <p class="mb-1"><a href="/users/<%=city_index*10 + index+1%>/savetrip" class="list-group-item list-group-item-action">Save flight to wishlist<a></p>
            <% end %>


        <a href="/trip/<%=1+city_index*10%>">Attractions in <%=convert_airportcode_to_destination(city[0]["destination"]) %></a><br>

        <a href="/trip/<%=1+city_index*10%>/locations/museum">Museums in <%=convert_airportcode_to_destination(city[0]["destination"])%></a><br>
        <a href="/trip/<%=1+city_index*10%>/locations/restaurants">Restaurants in <%=convert_airportcode_to_destination(city[0]["destination"])%></a><br>
        <a href="/trip/<%=1+city_index*10%>/locations/beaches">Beaches in <%=convert_airportcode_to_destination(city[0]["destination"])%></a><br>
        <a href="/trip/<%=1+city_index*10%>/locations/bars">Bars in <%=convert_airportcode_to_destination(city[0]["destination"])%></a><br>

      </div>
    </div><br><br><br><br><br>



<% end %>
