<br>
<br>

<div class="list-group">
    <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">List of flights</h4>
      <h5 class="mb-1">Flights to Denver</h5>
       <% @cheapest_flights[0..9].each_with_index do |flight, index| %>
      <p class="mb-1">Ticket price: <%= flight["saleTotal"] %></p>
      <p class="mb-1"><%= flights_date(flight["departure_time_when_leaving_home"])%> ----- <%= flights_date(flight["arrival_time_when_leaving_home"]) %></p>
      <p class="mb-1"><%= flight["origin"] %> ----------------------------- <%= flight["destination"] %></p>
      <p class="mb-1"><%= flights_date(flight["departure_time_when_coming_home"])%> ----- <%= flights_date(flight["arrival_time_when_coming_home"]) %></p>
      <p class="mb-1"><%= flight["destination"] %> -----------------------------<%= flight["origin"] %></p>
      <p class="mb-1"><a href="/users/<%=index+1%>/savetrip" class="list-group-item list-group-item-action">Save flight to wishlist<a></p>
    <% end %>


    <a href="/trip/1">Attractions in Denver</a><br>
    <a href="/trip/1/locations/museum">Museums in Denver</a><br>
    <a href="/trip/1/locations/restaurants">Restaurants in Denver</a><br>
    <a href="/trip/1/locations/beaches">Beaches in Denver</a><br>
    <a href="/trip/1/locations/bars">Bars in Denver</a><br>
    

    <br><br><br><br><br><br><br><br><br><br>

    <h4 class="mb-1">Flights to Los Angeles World Airports</h4>
    <% @cheapest_flights[10..19].each_with_index do |flight, index| %>
      <p class="mb-1">Ticket price: <%= flight["saleTotal"] %></p>
      <p class="mb-1"><%= flights_date(flight["departure_time_when_leaving_home"])%> ----- <%= flights_date(flight["arrival_time_when_leaving_home"]) %></p>
      <p class="mb-1"><%= flight["origin"] %> ----------------------------- <%= flight["destination"] %></p>
      <p class="mb-1"><%= flights_date(flight["departure_time_when_coming_home"])%> ----- <%= flights_date(flight["arrival_time_when_coming_home"] %></p>
      <p class="mb-1"><%= flight["destination"]) %> -----------------------------<%= flight["origin"] %></p>
      <p class="mb-1"><a href="trip/<%=index+11%>" class="list-group-item list-group-item-action">Save trip to wishlist<a></p>
    <% end %>

    <a href="/trip/11">Attractions in Los Angeles</a>
    <br><br><br><br><br><br><br><br><br><br>

    Flights to Miami</div> </p>
    <% @cheapest_flights[20..29].each_with_index do |flight, index| %>
      <p class="mb-1">Ticket price: <%= flight["saleTotal"] %></p>
      <p class="mb-1"><%= flights_date(flight["departure_time_when_leaving_home"])%> ----- <%= flights_date(flight["arrival_time_when_leaving_home"]) %></p>
      <p class="mb-1"><%= flight["origin"] %> ----------------------------- <%= flight["destination"] %></p>
      <p class="mb-1"><%= flights_date(flight["departure_time_when_coming_home"])%> ----- <%= flights_date(flight["arrival_time_when_coming_home"] )%></p>
      <p class="mb-1"><%= flight["destination"] %> -----------------------------<%= flight["origin"] %></p>
      <p class="mb-1"><a href="/users/<%=index+21%>/savetrip" class="list-group-item list-group-item-action">Save trip to wishlist<a></p>
    <% end %>

    <a href="/trip/21">Attractions in Miami</a>
    </div>
</div>
