<!DOCTYPE html>
<html>
  <head>
    <title>WanderlustRails</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    





  </head>

  <body>
  <nav>
  <div class="jumbotron">
    <% if logged_in? %>
      <a href = "/logout">Log out</a><br>
      <a href = "/users/<%= current_user.id %>"><%= current_user.name %></a><br>
    <% else %>
      <a href = "/login">Log in</a><br>
      <a href = "/users/new">Register</a><br>
    <% end %>
    <h1 class="center logo"><img src="../assets/images/logo.jpg" alt="Wanderlust"></img></h1>
    <p class="center color"> Your next adventure is just a budget away</p>
    <%= link_to 'Home', root_path %>
    </div>
</nav>

    <%= yield %>
  </body>
</html>