<!DOCTYPE html>
<html>
  <head>
    <title>WanderlustRails</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  </head>

  <body>

    <% if logged_in? %>
      <a href = "/logout">Log out</a><br>
      <a href = "/users/<%= current_user.id %>"><%= current_user.name %></a><br>
    <% else %>
      <a href = "/login">Log in</a><br>
      <a href = "/users/new">Register</a><br>
    <% end %>

    <%= link_to 'Home', root_path %>

    <%= yield %>
  </body>
</html>
